:root {
  --highlight-color: #54ccd2;
  --alternate-color: #7c4dff;
  --light-color: #dffdff;
  --dark-color: #3c3c3c;
}

body {
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #444;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Inter, sans-serif;
  margin: 0 0 0.5em 0;
  font-weight: 300;
  line-height: 1.2;
}

h1 {
  margin: 3rem 0 2rem;
  font-size: 3.4em;
  font-weight: 300;
  line-height: 1.05em;
}

main h2 {
  margin: 3rem 0 1rem;
  color: #444;
  font-size: 1.9rem;
}

h3 {
  font-size: 1.2rem;
  margin: 2rem 0 1rem;
}

a {
  color: inherit;
  text-decoration-color: #afe6e8;
  text-decoration-thickness: 3px;
}

pre {
  border-radius: 16px;
  background: #f7f7f7;
}

code {
  font-family: menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  color: #555;
  background-color: #f0f0f0;
  padding: 0.2em 0.4em;
  border-radius: 2px;
}

pre code {
  background-color: transparent;
  padding: 0;
}

.content {
  font-size: 1.4em;
  color: #666;
  line-height: 1.6em;
  margin-top: 3rem;
}
.content video, .content img {
  max-width: calc(100vw - 2rem);
}
.content a {
  overflow-wrap: break-word;
}
.content pre {
  margin-bottom: 1rem !important;
}
.content li {
  line-height: 2rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

@media (min-width: 400px) {
  body {
    font-size: 16px;
  }
  .content video, .content img {
    max-width: calc(50vw - 2rem);
  }
}
