:root {
  --highlight-color: #54ccd2;
  --alternate-color: #ffb970;
  --light-color: #dffdff;
  --dark-color: #3c3c3c;
}

body {
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #444;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.5em 0;
  font-weight: 400;
  line-height: 1.2;
}

h1 {
  font-size: 2.5em;
  font-weight: bold;
  color: var(--highlight-color)
}

a {
  color: inherit;
  text-decoration-color: #ddd;
}

.experiment {
  display: inline-block;
  background: var(--alternate-color);
  color: white;
  padding: 3px 10px;
  border-radius: 3px;
  margin: 5px 0;
}
pre {
  border-radius: 4px;
  background: #222 !important;
}

code {
  font-family: menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  color: #555;
  background-color: #f0f0f0;
  padding: 0.2em 0.4em;
  border-radius: 2px;
}

pre code {
  background-color: transparent;
  padding: 0;
}

@media (min-width: 400px) {
  body {
    font-size: 16px;
  }
}
